# Lesson 1 Exercise 2: Creating a Table with Apache Cassandra
![](images/cassandralogo.png)

### Walk through the basics of Apache Cassandra. Complete the following tasks:<li> Create a table in Apache Cassandra, <li> Insert rows of data,<li> Run a simple SQL query to validate the information. <br>
`#####` denotes where the code needs to be completed.

### Create a connection to the database

In [ ]:
from src.database import get_cs_session

session = get_cs_session()

### TO-DO: Create a keyspace to do the work in

In [ ]:
## TO-DO: Create the keyspace
from src.database import create_cs_keyspace, drop_cs_keyspace

keyspace_name = "my_keyspace"
drop_cs_keyspace(session, keyspace_name)  # drop any existing keyspace (nice for reruns)
create_cs_keyspace(session, keyspace_name)

### TO-DO: Connect to the Keyspace

In [ ]:
## To-Do: Set the keyspace you created as default
try:
    session.set_keyspace(keyspace_name)
except Exception as e:
    print(e)

### Create a Song Library that contains a list of songs, including the song name, artist name, year, album it was from, and if it was a single. 

`song_title
artist_name
year
album_name
single`

### TO-DO: You need to create a table to be able to run the following query: 
`select * from songs WHERE year=1970 AND artist_name="The Beatles"`

In [ ]:
## TO-DO: Complete the query below
from src.database import create_cs_table, drop_cs_table

table_name = "song_library"
column_names = [
    "song_title",
    "artist_name",
    "year",
    "album_name",
    "single",
]
column_types = [
    "text",
    "text",
    "int",
    "text",
    "boolean",
]
columns = {name: type_ for name, type_ in zip(column_names, column_types)}
drop_cs_table(session, table_name)  # drop any existing table (nice for reruns)
create_cs_table(
    session,
    table_name,
    columns=columns,
    primary_keys=("year", "artist_name"),
)

### TO-DO: Insert the following two rows in your table
`First Row: "1970", "Let It Be", "The Beatles", "Across The Universe", "False", `

`Second Row: "1965", "Think For Yourself", "The Beatles", "Rubber Soul", "False"`

In [ ]:
## Add in query and then run the insert statement
from src.database import insert_cs_rows

insert_cs_rows(
    session,
    table_name,
    columns=["song_title", "artist_name", "year", "album_name", "single"],
    rows=[
        ("Let it Be", "The Beatles", 1970, "Let it Be", False),
        ("Think for Yourself", "The Beatles", 1965, "Rubber Soul", False),
    ],
)

### TO-DO: Validate your data was inserted into the table.

In [ ]:
## TO-DO: Complete and then run the select statement to validate the data was inserted into the table
query = f"SELECT * FROM {table_name}"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.album_name, row.artist_name)

### TO-DO: Validate the Data Model with the original query.

`select * from songs WHERE YEAR=1970 AND artist_name="The Beatles"`

In [ ]:
##TO-DO: Complete the select statement to run the query
query = f"select * from {table_name} WHERE YEAR=1970 AND artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.album_name, row.artist_name)

### And Finally close the session and cluster connection

In [ ]:
from src.database import close_cs_session

close_cs_session(session)